In [4]:
import pandas as pd 
import numpy as np

In [3]:
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ece',2019),('ece',2020),('ece',2021),('ece',2022)]

In [6]:
a = pd.Series([1,2,3,4,5,6,7,8],index = index_val)
a

(cse, 2019)    1
(cse, 2020)    2
(cse, 2021)    3
(cse, 2022)    4
(ece, 2019)    5
(ece, 2020)    6
(ece, 2021)    7
(ece, 2022)    8
dtype: int64

In [7]:
a['cse']

KeyError: 'cse'

In [8]:
index_val = [('cse',2019),('cse',2020),('cse',2022),('ece',2019),('ece',2020),('ece',2021)]

In [17]:
multiindex = pd.MultiIndex.from_tuples(index_val)

In [12]:
multiindex.levels[0]

Index(['cse', 'ece'], dtype='object')

In [15]:
pd.MultiIndex.from_product([['cse','ece'],[2019,2020,2021,2022]]).levels[1]

Int64Index([2019, 2020, 2021, 2022], dtype='int64')

In [19]:
s = pd.Series([1,2,3,4,5,6],index=multiindex)
s

cse  2019    1
     2020    2
     2022    3
ece  2019    4
     2020    5
     2021    6
dtype: int64

In [20]:
s['cse']

2019    1
2020    2
2022    3
dtype: int64

In [21]:
s

cse  2019    1
     2020    2
     2022    3
ece  2019    4
     2020    5
     2021    6
dtype: int64

In [22]:
temp = s.unstack()
temp

     2019  2020  2021  2022
cse   1.0   2.0   NaN   3.0
ece   4.0   5.0   6.0   NaN

In [23]:
temp.stack()

cse  2019    1.0
     2020    2.0
     2022    3.0
ece  2019    4.0
     2020    5.0
     2021    6.0
dtype: float64

In [25]:
branch_df1 = pd.DataFrame([[1,2],[3,4],[5,6],[7,8],[9,10],[11,12]],index=multiindex,columns=['x','y'])

In [26]:
branch_df1

           x   y
cse 2019   1   2
    2020   3   4
    2022   5   6
ece 2019   7   8
    2020   9  10
    2021  11  12

In [28]:
branch_df1[['x','y']]

           x   y
cse 2019   1   2
    2020   3   4
    2022   5   6
ece 2019   7   8
    2020   9  10
    2021  11  12

In [30]:
branch_df2 = pd.DataFrame([
    [1,2,0,0],
    [3,4,0,0],
    [5,6,0,0],
    [7,8,0,0],
],index = [2019,2020,2021,2022],columns = pd.MultiIndex.from_product([['delhi','mumbai'],['avg_package','students']])
)

In [31]:
branch_df2

           delhi               mumbai
     avg_package students avg_package students
2019           1        2           0        0
2020           3        4           0        0
2021           5        6           0        0
2022           7        8           0        0

In [32]:
branch_df2.loc[2019]

delhi   avg_package    1
        students       2
mumbai  avg_package    0
        students       0
Name: 2019, dtype: int64

In [36]:
branch_df2.iloc[0:2,0:3]

           delhi               mumbai
     avg_package students avg_package
2019           1        2           0
2020           3        4           0

In [42]:
branch_df2['delhi']

      avg_package  students
2019            1         2
2020            3         4
2021            5         6
2022            7         8